*, *:after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover, a:focus {
    text-decoration: none;
}

.hall-of-fame {
    width: 100%;
    height: 100%;
}
.show-them .hall-of-fame .horizontal-scroll:not(.black-white) {
    opacity: 0;
}
.hall-of-fame .horizontal-scroll {
    width: 2800px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/img/hall_of_fame.png');
    background-position: 0 0;
    transition: all 800ms ease-in-out;
}
.hall-of-fame .horizontal-scroll.black-white {
    background-image: url('/img/hall_of_fame_sw.png');
}

.achieve:hover .popover {
    display: block;
}
.popover {
    display: none;
}

a.invisible:focus {
    outline: 0;
}
a.invisible {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popover {
    min-width: 300px;
}

.card {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    transition: all 500ms ease-in-out;
    background-image: url('/img/userview.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}
.user {
    transform: rotateZ(-90deg);
    transform-origin: 0% 50%;
    position: absolute;
    bottom: 180px;
    left: 75px;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: bold;
    color: #08f;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.avatar {
    position: absolute;
    bottom: 104px;
    left: 55px;
}

#menu-1,
#menu-2 {
    display: none;
}

figure.achieve.is-active {
    opacity: 1;
}

.slide-1 #menu-1 {
    display: block;
}
.slide-2 #menu-2 {
    display: block;
}

/* badges */
.achieve:hover,
.achieve.isActive {
    opacity: 1;
}
.achieve {
    position: absolute;
    opacity: 0;
    z-index: 3000;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.achieve.forever-alone {
    background-image: url('/img/foreveralone.png');
    width: 482px;
    height: 623px;
    top: -81px;
    left: 367px;
}
.achieve.duracell-master {
    background-image: url('/img/dbunny.png');
    width: 274px;
    height: 334px;
    bottom: -15px;
    left: 280px;
}
.achieve.ovo-master {
    background-image: url('/img/ovo.png');
    width: 221px;
    height: 242px;
    bottom: 100px;
    left: 931px;
}
.achieve.sheldon-award {
    background-image: url('/img/sheldon.png');
    width: 103px;
    height: 257px;
    left: 1137px;
    top: 214px;
}
.achieve.catdog-award {
    background-image: url('/img/catdog.png');
    width: 526px;
    height: 275px;
    bottom: 161px;
    left: 1760px;
}
.achieve.zombie-award {
    background-image: url('/img/zombie.png');
    width: 393px;
    height: 596px;
    left: 2229px;
    top: -81px;
}
.achieve.chuck-norris-award {
    background-image: url('/img/chucknorris.png');
    width: 219px;
    height: 246px;
    top: 32px;
    left: 1823px;
}

figure.achievement {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
figure.achievement:hover,
figure.achievement.isActive {
    opacity: 1;
}

figure.achievement.forever-alone {
    background: url('/img/user_foreveralone.png');
    width: 81px;
    height: 145px;
    top: 510px;
    left: 244px;
}

figure.achievement.roundhouse {
    background: url('/img/user_roundhouse.png');
    width: 136px;
    height: 132px;
    top: 522px;
    left: 365px;
}

figure.achievement.ovo {
    background: url('/img/user_ovo.png');
    width: 92px;
    height: 122px;
    top: 531px;
    left: 540px;
}

figure.achievement.duracell {
    background: url('/img/user_dbunny.png');
    width: 110px;
    height: 150px;
    top: 502px;
    left: 678px;
}

figure.achievement.necromancer {
    background: url('/img/user_necro.png');
    width: 143px;
    height: 151px;
    top: 667px;
    left: 208px;
}

figure.achievement.penny {
    background: url('/img/user_penny.png');
    width: 66px;
    height: 143px;
    top: 675px;
    left: 400px;
}

figure.achievement.raj {
    background: url('/img/user_raj.png');
    width: 66px;
    height: 142px;
    top: 676px;
    left: 551px;
}

figure.achievement.tumbleweed {
    background: url('/img/user_tumbleweed.png');
    width: 137px;
    height: 129px;
    top: 687px;
    left: 667px;
}

figure.achievement.dog {
    background: url('/img/user_dog.png');
    width: 100px;
    height: 151px;
    top: 832px;
    left: 238px;
}

figure.achievement.cat {
    background: url('/img/user_cat.png');
    width: 159px;
    height: 137px;
    top: 842px;
    left: 392px;
}

figure.achievement.labday-winner {
    background: url('/img/user_labdaywinner.png');
    width: 147px;
    height: 145px;
    top: 833px;
    left: 551px;
}

/* navigation */
.home-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 200;
}
.section-navi {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section-navi li {
    float: left;
}
.section-navi a {
    padding: 16px 10px;
    display: inline-block;
    text-transform: lowercase;
    margin: 20px 0;
    text-shadow: 1px 1px 5px rgba(88,88,88,0.35);
}
.section-navi i {
    vertical-align: middle;
}
.home-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
.home-nav a:hover {
    color: #5bc0de;
}

a.scroll-down {
    position: absolute;
    top: 890px;
    right: 70px;
    font-size: 54px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
section.userview {
    height: 105vh;
}

.popover-title {
    font-size: 16px !important;
}

/* Animations */
section.drop-out .card {
    transform: rotateX(90deg);
}
